<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="clas.daniel.notes">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.Notes">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="notes"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.SignInActivity"
            android:label="Sign In"
            android:theme="@style/AppTheme.Notes" />
        <activity
            android:name=".login.SignOnActivity"
            android:label="Sign On"
            android:theme="@style/AppTheme.Notes" />
        <activity
            android:name=".MainActivity"

            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Notes" />
        <activity
            android:name=".DisplayActivity"
            android:label="Note Detail"
            android:theme="@style/AppTheme.NoActionBar.Notes">
        </activity>
        <activity android:name=".EditActivity"
            android:label="Edit Note"
            android:theme="@style/AppTheme.NoActionBar.Notes" >
        </activity>
    </application>

</manifest>